/* some style */

text.slopegraph-column-1, text.slopegraph-column-2 {
    font-size: 14px;
    font-family: Palatino,Georgia,Times,serif;
    alignment-baseline: middle;
}

text.slopegraph-column-1 {
    text-anchor: end;
}

text.slopegraph-header {
    font-family: Palatino,Georgia,Times,serif;
    font-size: 16px;
}

line.slopegraph-line {
    stroke: #aaa;
}

@media (max-width: 480px) {
    text.slopegraph-column-1, text.slopegraph-column-2 {
        font-size: 12px;
        font-family: Palatino,Georgia,Times,serif;
        alignment-baseline: middle;
    }
}
